<h1> Games </h1>
<% @tictactoes.each do |tictactoe|%>
   <%= link_to tictactoe.id, tic_tac_toe_path(tictactoe) %>
   <%= tictactoe.player1_id %>
   <%= tictactoe.player2_id %>
  <% end %>

<li><%= link_to "New Game" , new_tic_tac_toe_path %></li>