  body {
    color:  #45B8FF;
    background: url(game1.jpg);
    background-size: cover;
    font-family: 'Play', 'Helvetica', 'Arial', sans-serif;
  }

  a {
    color:  #45B8FF;
    text-decoration: underline;
    font-size: 200%;
  }

  a:hover {
    color: #91D5FF;
  }

  header {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    padding: 20px; 
  }

  header ul li {
    display: inline;
    padding: 20px;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    bottom: 0px;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
  }

  footer a {
    font-size: 120%;
  }

  footer p {
    font-size: 120%;
  }

  .main {
    position: relative;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 5px 20px 20px 20px;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 5%;
  }

  p {
    font-size: 26px;
  }

  .field {
    font-size: 26px;
  }

  .field input {
    color: #000000;
    font-size: 22px;
  }

  .actions input {
    margin-top: 5%;
    font-size: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #45B8FF;
    border: solid black 2px;
  }



  #container {
    text-align: center;
    font-size: 22px;
    color: #FF0000;
    margin-top: 1%;
    font-weight: bold;  
  }

  #startgame {
    float: right;
    display: inline;
    margin-bottom: 20px;
  }

  #startgame p {
    text-align: center;
  }

  #startgame a {
    font-size: 22px;
  }

  #score table {
    border: solid 1px;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 5px;
    width: 60%;
  }

  .index {
    width: 100%;
  }

  .index h1 {
    font-size: 46px;
    margin-top: 5%;
    font-weight: bold;
  }

  .index img {
    margin-top: 10%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .index table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    font-size: 20px;
  }

  .index th {
    text-align: center;
    font-size: 22px;
    margin-bottom: 3%;
    font-weight: bold;
  }

  .index a {
    font-size: 20px;
  }

  #show {
    margin-bottom: 10%; 
  }

  #show #status {
    color: #FF5E60;
    font-size: 32px;
  }

  #show a {
    font-size: 100%;
  }

  #show table {
    border: collapse;
    border-style: hidden;
    width: 60%;
    height: 60%;
    font-weight: bold;
    font-size: 76px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #show td {
    border: solid #FF5E60 5px;
  }

  #show td:first-child {
    border-left: 0;
  }

  #show td:first-child {
    border-left: 0;
  }

  #show tr:last-child td {
    border-bottom: none;
  }

  #show td:nth-last-child(-n+3) {
    border-top: 0;
  }

  #show td:nth-last-child(-n+3) {
    border-top: 0;
  }

  #show td:last-child {
    border-right: 0;
  }

  #show td a {
    color: #6E707A;
    font-weight: none;
  }

  #show td a:hover {
    color: #45B8FF;
  }    

  @media (max-width: 960px) {
    
    body {
      background-size: auto;
    }  


    .main {
      margin-bottom: 5%;
    }

    a {
      font-size: 150%;
    }

    header {
      display: block;
      padding: 5px;
    }

    h1 {
      font-size: 52px;
    }

    h2 {
      font-size: 22px;
    }

    p {
      font-size: 18px;
    }

    .field input {
      font-size: 16px;
    }

    #container {
      font-size: 16px; 
    }

    #startgame a {
      font-size: 16px;
    }

    .index table {
      font-size: 14px;
    }

    .index th {
      font-size: 16px;
    }

    .index a {
      font-size: 14px;
    }

      /* Force table to not be like tables anymore */
    .index table, .index thead, .index tbody, .index th, .index td, .index tr { 
      display: block; 
    }
  
    /* Hide table headers (but not display: none;, for accessibility) */
    .index thead .index tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    .index tr { border: 1px solid #45B8FF; }
    
    .index td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #45B8FF; 
      position: relative;
      padding-bottom: 5%;
    }
    
    .index td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }

    #score table {
      width: 100%;
    }

    #startgame {
      float: none;
    }

    #show #status {
      font-size: 22px;
    }

    #show table {
      font-size: 36px;
    }

    #show td a {
      color: #6E707A;
      font-weight: none;
    }

    #show td a:hover {
     color: #45B8FF;
    } 

  }
